{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block h1 %}ホーム{% endblock %}

{% block content %}
<a href="{% url 'tweets:create' %}" class = 'btn btn-primary'>新規作成</a>
{% for tweet in tweet_list %}
<div class="p-4 m-4 bg-light border border-primary rounded">
    <p><a href="{% url 'accounts:user_profile' tweet.user %}">{{ tweet.user }}</a> {{ tweet.created_at }}</p>
    <p>{{ tweet.content }}</p>
    <p><a href="{% url 'tweets:detail' tweet.pk %}" class = 'btn btn-primary'>詳細へ</a></p>
</div>
{% endfor %}
{% endblock %}
